{% extends 'base.html' %}
{% block body %}
<h3 style="font-weight: bold; font-size: 50px; text-align: center; padding-bottom: 30px;">Mot de passe oublié</h3>

<form action="/forgot-password" method="POST">
  <div style="display:flex; flex-direction: column; align-items: center; gap: 15px;">
    <div style="display:flex; gap:10px; padding-right: 10%;">
      <label style="width:200px; text-align: right;">Courriel</label>
      <input type="email" name="email" style="width: 300px;" required>
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
    {% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
    {% if success %}<p style="color:lightgreen;">{{ success }}</p>{% endif %}
  </div>
</form>
{% endblock %}