{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div style="display: flex; justify-content: space-evenly; align-items: center; margin: auto; width: 100%;">
    <div style="
        justify-content: center; display: flex; align-items: center;
        width: 300px; height: 100px; margin-bottom: 20px;; background-color: #222;">
        <img style="width: 250px;" src="{{ url_for('static', filename='logos-epiceries/' + 'provigo' + '.png') }}">
    </div>
</div>
{% for page in range(nbPages // 2) %}
<div style="display: flex; justify-content: space-evenly; align-items: center; width: 100%; height: 100%;">
    <div style="justify-content: center; display: flex; align-items: center;">
        <img style="width:90%; border-radius: 30px;" src="{{ url_for('static', filename='circulaires/provigo_' ~ week_start ~ '/provigo' ~ page ~ '.png') }}">
    </div>
    {% if page + 1 <= nbPages %}
    <div style="justify-content: center; display: flex; align-items: center;">
        <img style="width:90%; border-radius: 30px;" src="{{ url_for('static', filename='circulaires/provigo_' ~ week_start ~ '/provigo' ~ (page + 1) ~ '.png') }}">
    </div>
    {% endif %}
</div>
{% endfor %}

{% endblock %}