.column {
  float: left;
  width: 33.33%;
  text-align: center;
  /* border: 2px solid white */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.pfp {
    width: 70%;
    height: 80%;
    border-radius: 300px;
    border: 3px solid white;
}

.cell {
    text-align: center;
    border: 1px solid white;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

tr:nth-child(even) {
    background-color: #333334;
  }

  tr:nth-child(odd) {
    background-color: #000000;
  }

table {
    border-collapse: collapse;
}

table tr {
    transition: background-color 0.2s ease;
    transition: transform 0.5s ease;
}

table tr:not(.header-row):hover {
    transition: background-color 0.2s ease;
    transition: transform 0.5s ease;
    background-color: #555555;
    transform: scale(1.01);
}

.circulaires-background:hover {
  transition: all 0.5s ease;
  transform: scale(1.05);
}
.circulaires-background {
  transition: all 0.5s ease;
  background-color: #222;
  width:300px;
  height:250px;
  border-radius: 20px;
}

.circulaires-buttons {
  transition: all 0.5s ease;
  background-color: #222;
  width:15%;
  height:30%;
  border-radius: 20px;
  border:1px solid white;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor:pointer;
  color:white
}

.circulaires-buttons:hover {
  transition: all 0.5s ease;
  transform: scale(1.05);
}

.spinner {
  border: 8px solid #f3f3f3; /* Light gray background */
  border-top: 8px solid #555; /* Darker color for the spinner */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}