.column {
  float: left;
  width: 33.33%;
  text-align: center;
  /* border: 2px solid white */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.pfp {
    width: 70%;
    height: 80%;
    border-radius: 300px;
    border: 3px solid white;
}

.cell {
    text-align: center;
    border: 1px solid white;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

tr:nth-child(even) {
    background-color: #333334;
  }

  tr:nth-child(odd) {
    background-color: #000000;
  }

table {
    border-collapse: collapse;
}

table tr {
    transition: background-color 0.2s ease;
    transition: transform 0.5s ease;
}

table tr:not(.header-row):hover {
    background-color: #555555;
    transform: scale(1.01);
}