{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='templates/styles.css') }}">
{% endblock %}

{% block body %}
<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <h3 style="font-weight: bold; font-size: 40px; text-align: center; padding-bottom: 30px;">L'équipe TARTINE</h4>
  <div class="row" style="display: flex;">
    <div class="column">
      <h4>Olivier - Dev</h4>
      <img src="{{ url_for('static', filename='oli.png') }}" class="pfp">
    </div>
    <div class="column">
      <h4>Victor - Dev</h4>
      <img src="{{ url_for('static', filename='vic.png') }}" class="pfp">
    </div>
    <div class="column">
      <h4>Simon - PM</h4>
      <img src="{{ url_for('static', filename='sim.png') }}" class="pfp">
    </div>
  </div>
{% endblock %}