{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
 <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo" style="font-weight: bold;">TARTINE™</h1>
    <h3 style="display: inline;">L'application qui fait</h3> 
    <h3 style="text-decoration: underline; display: inline;">votre</h3> 
    <h3 style="display: inline;">épicerie en fonction des rabais hebdomadaires!</h3>
  </header>
  <h4 style="text-align: center;">Projet en cours de développement</h4>
  <div style="text-align: center;">
    <img src="img/cat.gif" style="text-align: center;">
{% endblock %}