{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
   <h3 style="font-weight: bold; font-size: 60px; text-align: center; padding-bottom: 30px;">Login</h3> 

  <!-- FORM A COMPLETER POUR ACCES A LA DATABASE -->
  <form id="Login" action="/login" method="POST">
    <div class="form-group" style="display:flex; align-items: center; flex-direction: column;">
      <div style="margin-bottom: 10px;">
        <label for="inputUsername">userID</label>
      </div>
      <div style="margin-bottom: 20px;">
        <input type="text" id="userID" name="userID" autocomplete="off">
      </div>
      <div style="margin-bottom: 20px;">
        <button type="submit" class="btn btn-primary">Soumettre</button>
      </div>
      
    </div>
  </form>
  
  <div style="align-items: center;">
    <table style="border: 2px solid white; margin: auto;">
      <tr style="border: 2px solid white">
        {% for header in headings %}
        <th class="cell">{{ header }}</th>
        {% endfor %}
      </tr>
      {% for row in data %}
      <tr>
        {% for cell in row %}
        <td class="cell">{{ cell }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
  
  {% endblock %}