{% extends 'base.html' %}

{% block head %}
<style>
    #edit-form input {
        width: 300px;
    }

    #info-form td:last-child {
        width: 300px;
    }
</style>
{% endblock %}

{% block body %}
<div style="align-items: center;">
  <div style="text-align: center; padding-bottom: 30px;">
    <div style="display:flex; justify-content: space-between; align-items: center;">
      <div>
        <h3 style="font-weight: bold; font-size: 60px; text-decoration: underline;">Dashboard</h3> 
      </div>
      <div>
        <h3 style="font-weight: bold; font-size: 32px;">Bonjour, {{ clientInfo[2] }} {{ clientInfo[3] }}!</h3>
      </div>
    </div>
    <h4 style="font-weight: bold; font-size: 28px; padding-bottom: 2%;">Informations du compte</h4>
    <div id="info-form" style="margin-top: 20px; display: initial">
      <table style="margin: 0 auto;">
          <tr>
              <td><label>Courriel:</label></td>
              <td><p name="email">{{ clientInfo[1] }}</p></td>
          </tr>
          <tr>
              <td><label>Prénom:</label></td>
              <td><p name="firstname">{{ clientInfo[2] }}</p></td>
          </tr>
          <tr>
              <td><label>Nom:</label></td>
              <td><p name="lastname">{{ clientInfo[3] }}</p></td>
          </tr>
          <tr>
               <td><label>Date de naissance:</label></td>
              <td><p id="birthday" name="birthday">{{ clientInfo[4] }}</p></td>
          </tr>
          <tr>
               <td><label>Âge:</label></td>
              <td><p id="age" name="birthday">{{ clientInfo[-1] }}</p></td>
          </tr>
        </table>
    </div>

    <div id="edit-form" style="display:none; margin-top: 20px;">
    <form method="POST" action="{{ url_for('dashboard') }}">
        <table style="margin: 0 auto;">
          <tr>
              <td><label>Courriel:</label></td>
              <td><input type="email" name="email" value="{{ clientInfo[1] }}"></td>
          </tr>
          <tr>
              <td><label>Prénom:</label></td>
              <td><input type="text" name="firstname" value="{{ clientInfo[2] }}"></td>
          </tr>
          <tr>
              <td><label>Nom:</label></td>
              <td><input type="text" name="lastname" value="{{ clientInfo[3] }}"></td>
          </tr>
          <tr>
               <td><label>Date de naissance:</label></td>
              <td><input type="date" id="birthday" name="birthday" value="{{ clientInfo[4] }}"></td>
          </tr>
        </table>
        <div style="padding-top: 1%;">
          <button type="submit">Sauvegarder</button>
          <button id="btnAnnuler" type="button" href="window.location.reload()">Annuler</button>
        </div>
    </form>
</div>

    <a id="modif" href="#" onclick="document.getElementById('edit-form').style.display='block'; this.style.display='none'; document.getElementById('info-form').style.display='none'">
      Modifier mes informations</a>
  </div>
</div>

<script>
  document.getElementById("btnAnnuler").addEventListener("click", function() {
    window.location.reload();
  });
</script>
{% endblock %}