{% extends 'base.html' %}

{% block head %}
<style>
    #edit-form input {
        width: 300px;
    }

    #info-form td:last-child {
        width: 300px;
    }

    #info-form td:first-child, #edit-form td:first-child {
        text-align: right;
        padding-right: 15px;
        white-space: nowrap;
        vertical-align: middle;

    }

    #info-form td:last-child, #edit-form td:last-child {
        text-align: left;
        vertical-align: middle;
    }

    #info-form td, #edit-form td {
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #info-form p {
  margin: 0;
  padding: 0;
}

  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #555;
    border-radius: 26px;
    transition: 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + .slider {
    background-color: #e91e8c;
}

input:checked + .slider:before {
    transform: translateX(24px);
}
</style>
{% endblock %}

{% block body %}
<div style="align-items: center;">
  <div style="text-align: center; padding-bottom: 30px;">
    <div style="display:flex; justify-content: space-between; align-items: center;">
      <div>
        <h3 style="font-weight: bold; font-size: 60px; text-decoration: underline;">Dashboard</h3> 
      </div>
      <div>
        <h3 style="font-weight: bold; font-size: 32px;">Bonjour, {{ clientInfo[2] }} {{ clientInfo[3] }}!</h3>
      </div>
    </div>
    <h4 style="font-weight: bold; font-size: 28px; padding-bottom: 2%;">Informations du compte</h4>
    <div id="info-form" style="margin-top: 20px; display: initial">
      <table style="margin: 0 auto;">
        <tr>
              <td><label>Id:</label></td>
              <td><p name="id">{{ clientInfo[0] }}</p></td>
          </tr>
          <tr>
              <td><label>Courriel:</label></td>
              <td><p name="email">{{ clientInfo[1] }}</p></td>
          </tr>
          <tr>
              <td><label>Prénom:</label></td>
              <td><p name="firstname">{{ clientInfo[2] }}</p></td>
          </tr>
          <tr>
              <td><label>Nom:</label></td>
              <td><p name="lastname">{{ clientInfo[3] }}</p></td>
          </tr>
          <tr>
               <td><label>Date de naissance:</label></td>
              <td><p id="birthday" name="birthday">{{ clientInfo[4] }}</p></td>
          </tr>
          <tr>
               <td><label>Âge:</label></td>
              <td><p id="age">{{ clientInfo[-1] }}</p></td>
          </tr>
          <tr>
               <td><label>Participe au classement:</label></td>
              <td><p id="participe">{{ clientInfo[5] }}</p></td>
          </tr>
        </table>
    </div>

    <div id="edit-form" style="display:none; margin-top: 20px;">
    <form method="POST" action="{{ url_for('dashboard') }}">
        <table style="margin: 0 auto;">
          <tr>
              <td><label>Courriel:</label></td>
              <td><input type="email" name="email" value="{{ clientInfo[1] }}"></td>
          </tr>
          <tr>
              <td><label>Prénom:</label></td>
              <td><input type="text" name="firstname" value="{{ clientInfo[2] }}"></td>
          </tr>
          <tr>
              <td><label>Nom:</label></td>
              <td><input type="text" name="lastname" value="{{ clientInfo[3] }}"></td>
          </tr>
          <tr>
               <td><label>Date de naissance:</label></td>
              <td><input type="date" id="birthday" name="birthday" value="{{ clientInfo[4] }}"></td>
          </tr>
          <tr>
               <td><label>Participe au classement:</label></td>
               <td>
                <label class="toggle-switch">
                <input type="checkbox" id="participe" name="participe" {{ 'checked' if clientInfo[5] else '' }}>
                <span class="slider"></span>
                </label>
              </td>
          </tr>
        </table>
        <div style="padding-top: 1%;">
          <button type="submit">Sauvegarder</button>
          <button id="btnAnnuler" type="button" href="window.location.reload()">Annuler</button>
        </div>
    </form>
</div>

    <a id="modif" href="#" onclick="document.getElementById('edit-form').style.display='block'; this.style.display='none'; document.getElementById('info-form').style.display='none'">
      Modifier mes informations</a>
  </div>
</div>

<script>
  document.getElementById("btnAnnuler").addEventListener("click", function() {
    window.location.reload();
  });
</script>
{% endblock %}