{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% if current_user.is_authenticated %}


{% block body %}
<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
   <h3 style="font-weight: bold; font-size: 60px; text-align: center; padding-bottom: 30px;">Login</h3> 

  <!-- FORM A COMPLETER POUR ACCES A LA DATABASE -->
  <form id="Login" action="/login" method="POST">
    <div class="form-group" style="display:flex; align-items: center; flex-direction: column;">
      <div style="margin-bottom: 10px;">
        <label for="inputUsername" style="font-size: 20px;">Numéro d'identification</label>
      </div>
      <div style="margin-bottom: 20px;">
        <input type="text" id="userID" name="userID" autocomplete="off">
      </div>
      <div style="margin-bottom: 20px;">
        <button type="submit" class="btn btn-primary">Connexion</button>
      </div>
      
    </div>
  </form>
  
  {% endblock %}